/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 8.5px 14px;
}

.one{
    padding: 0;
} */

input[type="datetime-local"]{
    padding: 9px 17px;
    font-size: 13px;
    /* background-color: rgba(38, 238, 12, 0.3); */
}
/* input[type="datetime-local"] {
    padding: 10px 14px;
} */
#combo-box-demo{
    height:"35px"
}

.MuiInputBase-root{
    height:"10px"
}

